@model My_lab7.Models.Story

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Story</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBuild)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBuild)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.collage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.collage.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>

        @if (Model.image.url != null) { 
        <dd>
            <img src="@Url.Content(Model.image.url)" alt="images" />
        </dd>
        }
        else { 
        
        @:Null
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
